<div id="background">
</div>
<div class="clouds">
    <%= image_tag('/images/clouds.png') %>
</div>

<div id="main-container">
    <div id="block-1" class="content-container">
        <div id="logo">
            <%= image_tag('/images/logo.png') %>
        </div>
        <div id="iphone">
            <div id="iphone-body">
                <%= image_tag('/images/iphone/iphone.png') %>
            </div>
            <div id="iphone-content">
                <div id="iphone-6" class="screen hidden">
                    <%= image_tag('/images/iphone/6.jpg') %>
                </div>
                <div id="iphone-5" class="screen hidden">
                    <%= image_tag('/images/iphone/5.jpg') %>
                </div>
                <div id="iphone-4" class="screen hidden">
                    <%= image_tag('/images/iphone/4.jpg') %>
                </div>
                <div id="iphone-3" class="screen hidden">
                    <%= image_tag('/images/iphone/3.jpg') %>
                </div>
                <div id="iphone-2" class="screen hidden">
                    <%= image_tag('/images/iphone/2.jpg') %>
                </div>            
                <div id="iphone-1" class="screen">
                    <%= image_tag('/images/iphone/1.jpg') %>
                </div>
            </div>
        </div>
    </div>
    <div id="block-2">
        <div id="trophy-parade">
            <div id="trophy-1" class="content-container">
                <div class='trophies'>
                    <%= image_tag('/images/trophies/1.png') %>
                </div>
            </div>
            <div id="trophy-2" class="content-container">
                <div class='trophies'>
                    <%= image_tag('/images/trophies/2.png') %>
                </div>
            </div>
            <div id="trophy-3" class="content-container">
                <div class='trophies'>
                    <%= image_tag('/images/trophies/3.png') %>
                </div>
            </div>
            <div id="trophy-4" class="content-container">
                <div class='trophies'>
                    <%= image_tag('/images/trophies/4.png') %>
                </div>
            </div>
            <div id="trophy-5" class="content-container">
                <div class='trophies'>
                    <%= image_tag('/images/trophies/5.png') %>
                </div>
            </div>
            <div id="note" class="content-container">
                <%= image_tag('/images/paper.png') %>
            </div>
        </div>
        <div id="runner-container">
            <div id="runner">
                <p>email</p>
            </div>
        </div>
    </div>
</div>