<div id="content-container">
    <header>
        <div id="logo">
            <%= image_tag('/images/logo.jpg') %>
        </div>
    </header>
    <div id="main">
        <div id="iphone">
            <%= image_tag('/images/iphone/iphone.jpg') %>
        </div>
        <div id="iphone-content">
            <div id="iphone-1" class="screen">
                <%= image_tag('/images/iphone/1.jpg') %>
            </div>
            <div id="iphone-2" class="screen hidden">
                <%= image_tag('/images/iphone/2.jpg') %>
            </div>
            <div id="iphone-3" class="screen hidden">
                <%= image_tag('/images/iphone/3.jpg') %>
            </div>
            <div id="iphone-4" class="screen hidden">
                <%= image_tag('/images/iphone/4.jpg') %>
            </div>
            <div id="iphone-5" class="screen hidden">
                <%= image_tag('/images/iphone/5.jpg') %>
            </div>
            <div id="iphone-6" class="screen hidden">
                <%= image_tag('/images/iphone/6.jpg') %>
            </div>
        </div>
        <div id="right-content">
            <div id="copy">
                <%= image_tag('/images/right/copy.png') %>
            </div>
            <div id="shelf">
                <%= image_tag('/images/right/trophies.jpg') %>
            </div>
        </div>
    </div>
    <footer>
        
    </footer>
</div>