<div id="background">
    <div class="clouds">
        <%= image_tag('/images/clouds.png') %>
    </div>
</div>
<div id="block-1" class="content-container">
    <div id="logo">
        <%= image_tag('/images/logo.png') %>
    </div>
    <div id="iphone">
        <div id="iphone-body">
            <%= image_tag('/images/iphone/iphone.png') %>
        </div>
        <div id="iphone-content">
            <div id="iphone-6" class="screen hidden">
                <%= image_tag('/images/iphone/6.jpg') %>
            </div>
            <div id="iphone-5" class="screen hidden">
                <%= image_tag('/images/iphone/5.jpg') %>
            </div>
            <div id="iphone-4" class="screen hidden">
                <%= image_tag('/images/iphone/4.jpg') %>
            </div>
            <div id="iphone-3" class="screen hidden">
                <%= image_tag('/images/iphone/3.jpg') %>
            </div>
            <div id="iphone-2" class="screen hidden">
                <%= image_tag('/images/iphone/2.jpg') %>
            </div>            
            <div id="iphone-1" class="screen">
                <%= image_tag('/images/iphone/1.jpg') %>
            </div>
        </div>
    </div>
</div>
        <!-- <div id="right-content">
            <div id="copy">
                <div id="overview">
                    <p>Turf is a location based game set in the real world<br/>
                        where you <em>(the greatest person EVER)</em> hang out with<br/>
                        friends & buy properties. Your prosperity and happiness<br/>
                        are the reward! From the mind of <a href="http://cargocollective.com/theoryandcraft">michael tseng.</a></p>
                </div>
                <div id="bullets">
                    <p>
                        + location based game meets monopoly<br/>
                        + check in to get coins <em>(bonus for being with friends)</em><br/>
                        + use coins to purchase items & properties<br/>
                        + invest in properties to get more coins 
                    </p>
                </div>
            </div>
            <div id="shelf">
                <%= image_tag('/images/right/trophies.png') %>
            </div>
            <div id="footer">
                <div id="footer-container">
                    <div id="line-1">
                        <div id="seeking">
                            <%= image_tag('/images/bottom/seeking.png') %>
                        </div>
                    </div>
                    <div id="line-2">
                        <div id="more">
                            <%= image_tag('/images/bottom/more.png') %>
                        </div>
                        <div id="email">
                            <a href="mailto:piechart@mac.com?subject=[Turf] Let's make a (iPhone app) baby!">
                                <%= image_tag('/images/bottom/email.png', :mousedown => "/images/bottom/email-click.png") %>
                            </a>
                        </div>
                        <div id="twitter">
                            <a href="http://twitter.com/turfhq">
                                <%= image_tag('/images/bottom/twitter.png') %>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="footer">
    <p>copyright 2011 Michael Tseng | site coded by Ethan Stillman</p>
</div> -->
