<div id="background">
</div>
<!-- <div class="clouds">
    <%= image_tag('/images/clouds.png') %>
</div> -->

<div id="main-container">
    <div id="block-1" class="block">
        <div id="logo">
            <%= image_tag('/images/logo.png') %>
        </div>
        <div id="iphone">
            <div id="iphone-body">
                <%= image_tag('/images/iphone/iphone.png') %>
            </div>
            <div id="iphone-content">
                <div id="iphone-6" class="screen hidden">
                    <%= image_tag('/images/iphone/6.jpg') %>
                </div>
                <div id="iphone-5" class="screen hidden">
                    <%= image_tag('/images/iphone/5.jpg') %>
                </div>
                <div id="iphone-4" class="screen hidden">
                    <%= image_tag('/images/iphone/4.jpg') %>
                </div>
                <div id="iphone-3" class="screen hidden">
                    <%= image_tag('/images/iphone/3.jpg') %>
                </div>
                <div id="iphone-2" class="screen hidden">
                    <%= image_tag('/images/iphone/2.jpg') %>
                </div>            
                <div id="iphone-1" class="screen">
                    <%= image_tag('/images/iphone/1.jpg') %>
                </div>
            </div>
        </div>
    </div>
    <div id="block-2" class="block">
        <div id="trophy-parade">
            <!-- <div id="trophy-1" class="trophy-container">
                <div class="text">
                    <p>
                        From the mind of visionary director Michael Tseng...
                    </p>
                </div>
                <div class='trophies'>
                    <%= image_tag('/images/trophies/1.png') %>
                </div>
            </div>
            <div id="trophy-2" class="trophy-container">
                <div class='trophies'>
                    <%= image_tag('/images/trophies/2.png') %>
                </div>
            </div>
            <div id="trophy-3" class="trophy-container">
                <div id="win">
                    <%= image_tag('/images/win.png') %>
                </div>
                <div class='trophies'>
                    <%= image_tag('/images/trophies/3.png') %>
                </div>
            </div>
            <div id="trophy-4" class="trophy-container">
                <div class='trophies'>
                    <%= image_tag('/images/trophies/4.png') %>
                </div>
            </div>
            <div id="trophy-5" class="trophy-container">
                <div class='trophies'>
                    <%= image_tag('/images/trophies/5.png') %>
                </div>
            </div> -->
        </div>
        <div id="runner-container">
            <div id="runner">
                <div id="input">
                    <ul>
                        <li><%= image_tag('/images/bottom/submit_field.png') %></li>
                        <li><%= image_tag('/images/bottom/submit.png') %></li>
                        <li><%= image_tag('/images/bottom/contact.png') %></li>
                        <li><%= image_tag('/images/bottom/twitter.png') %></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="block-3" class="block">
        <div class="text note">
            <p>
                Designer Seeking Developer

                Do you or someone you know want to be part of something pretty great? Well then look no further. I'm searching for a rockin developer to help me turn this one man show into a classy duet.

                requirements
                + obj-c / iphone chops
                + live in nyc
                + have a huge appetite!
                + sense of humor a plus
            </p>
        </div>
        <div id="note" class="content-container">
            <%= image_tag('/images/paper.png') %>
        </div>
    </div>
</div>